{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMA</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="title">
            Employee Management Application
        </div>
        <div class="actions">
            {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }} | 
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </p>
            {% else %}
                <a href="{% url 'register' %}" style="text-decoration: none; color: white;">Register</a> | <a href="{% url 'login' %}" style="text-decoration: none; color: white;">Login</a>
            {% endif %}
        </div>
    </div>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
